@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root {
	--lght-blue-clr: rgb(54, 124, 255);
	--drk-blue-clr: rgb(0, 89, 255);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	height: 100%;
	background: #212121;
	color: white;
	font-family: 'Roboto', sans-serif;
}

ul {
	list-style: none;
}

nav {
	background: rgb(2, 0, 36);
	background: linear-gradient(
		90deg,
		rgba(2, 0, 36, 1) 0%,
		rgba(9, 9, 121, 1) 35%,
		rgba(0, 212, 255, 1) 100%
	);
	color: white;
	display: flex;
	text-align: center;
	justify-content: center;
	align-items: center;
	font-size: 2rem;
	padding: 1rem;
}

main {
	display: grid;
	grid-template:
		'side sec1 sec1 sec1'
		'side sec2 sec2 sec2';
	height: 100%;
}

aside {
	grid-area: side;
	padding: 1rem;
	display: flex;
	flex-direction: column;
	border-right: 1px solid rgb(59, 59, 59);
	margin-top: 1rem;
}

.searching h3 {
	font-size: 2rem;
}

.user-search {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 0.8rem;
	margin-top: 1rem;
}

#userInputText {
	width: 100%;
	padding: 0.5rem;
	resize: none;
	justify-content: center;
	outline: none;
	border-radius: 5px;
	font-size: 1rem;
	font-family: 'Roboto', sans-serif;
}

#searchBtn {
	background: rgb(0, 89, 255);
	width: 100%;
	padding: 0.5rem;
	color: white;
	outline: none;
	border: none;
	border-radius: 5px;
}

#searchBtn:hover {
	background: rgb(54, 124, 255);
	cursor: pointer;
}

hr {
	margin: 2rem 0;
	height: 3px;
	background: black;
}

.block {
	background: rgb(175, 212, 255);
	border: 1px solid rgb(255, 255, 255);
	color: black;
	padding: 1rem;
	margin: 0.4rem 0;
	text-align: center;
	border-radius: 5px;
	transition: all 200ms ease;
}

.block:hover {
	background: rgb(54, 124, 255);
	color: white;
	cursor: pointer;
}

#clearHistory {
	margin-top: 2rem;
	padding: 0.8rem;
	color: white;
	background-color: rgb(255, 106, 106);
	border: 1px solid white;
	border-radius: 5px;
	transition: all 200ms ease;
}

#clearHistory:hover {
	background-color: red;
}

/* right side sections  */

.sec1 {
	border: 1px solid grey;
	border-radius: 3px;
	margin: 1rem;
	grid-area: sec1;
	padding: 1rem;
}

.sec1 h3,
.sec2 h3 {
	font-size: 2rem;
}

.sec1 h3 {
	display: flex;
	align-items: center;
	padding: 0.2rem;
	gap: 0.3rem;
}

.sec1-stats {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	margin: 2rem 0;
	height: auto;
	font-size: 1.2rem;
	padding: 0.4rem 0;
}

.sec1-main {
	display: block;
}

#subCountry {
	font-size: 1.5rem;
	margin-top: 1rem;
	font-weight: bold;
}

.sec2 {
	margin: 1rem;
	grid-area: sec2;
	padding: 1rem;
}

.weather-card-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	flex-wrap: wrap;
	margin-top: 2rem;
	padding: 1rem 0;
}

.weather-card {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	background: rgb(75, 75, 75);
	border: 1px solid rgb(172, 172, 172);
	padding: 1rem;
	margin: 0 0.8rem;
	margin-bottom: 1rem;
	min-width: 175px;
	min-height: 230px;
	font-size: 1.2rem;
	transition: all 200ms ease;
}

.weather-card:hover {
	background: rgb(82, 82, 82);
}

.weather-card-date {
	font-size: 1.3rem;
	font-weight: bold;
	margin-bottom: 0.3rem;
}

/* media queries  */

/* tablet  */

@media screen and (max-width: 850px) {
	main {
		grid-template:
			'side side sec1 sec1'
			'side side sec1 sec1'
			'side side sec2 sec2';
		height: auto;
	}
}

/* phone  */

@media screen and (max-width: 540px) {
	main {
		grid-template:
			'side side side side'
			'sec1 sec1 sec1 sec1'
			'sec2 sec2 sec2 sec2';
		height: auto;
	}

	.searching {
		text-align: center;
	}

	#userInputText {
		padding: 1rem;
	}

	#searchBtn {
		padding: 1rem;
	}

	.sec1 h3,
	.sec2 h3 {
		text-align: center;
	}

	.sec1-stats {
		text-align: center;
	}

	.weather-card {
		width: 100%;
		text-align: center;
	}
}

/* preloaders css  */

.load-container {
	/* change display from flex to none  */
	display: none;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.lds-dual-ring {
	/* change display from inline-block to none  */
	display: inline-block;
	width: 80px;
	height: 80px;
}
.lds-dual-ring:after {
	content: ' ';
	display: block;
	width: 64px;
	height: 64px;
	/* margin: 8px; */
	border-radius: 50%;
	border: 6px solid var(--lght-blue-clr);
	border-color: var(--lght-blue-clr) transparent var(--lght-blue-clr)
		transparent;
	animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
